@using MyCommerce.App.Extensions; 
@model IEnumerable<MyCommerce.App.ViewModels.ProviderViewModel>

@{
    ViewData["Title"] = "Fornecedores";
}

<h2>@ViewData["Title"]</h2>
<vc:summary></vc:summary>
<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar Fornecedor</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @this.FormatDocument(item.ProviderType, item.Document) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-right">
              <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
              <a class="btn btn-dark" supress-by-claim-name="Provider" supress-by-claim-value="Edit" 
                 asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
              <a class="btn btn-danger" supress-by-claim-name="Provider" supress-by-claim-value="Edit" 
                 asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
